*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

nav{
    background: #004e8a;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 40px ;
    line-height: 75px;
    padding: 0 75px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 75px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 15px;   
}

a.active,a:hover{
    background: white;
    color: #004e8a;
}