body{
    margin: 0;
    background-color: rgb(235, 199, 153);
    
}
.logo{
    font-size: 1.8em;
    float: left;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 66, 178);
    color: white;
    padding: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    margin-left: 10px;
}

nav a{
    color: white;
    text-decoration: none;
}
.icon{
    display: none;
}

@media only screen and (max-width:600px) {
    nav ul{
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: rgb(50, 50, 50);
        opacity: 0.92;
        color: white;
        margin: 0;
        padding: 10px;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    nav li{
        margin: 10px 0;
    }
    .icon:checked ~ ul{
        display: flex;
    }
    .icon{
        display: none;
    }

    .icon-label{
        display: block;
        height: 25px;
        width: 30px;
        position: relative;
        cursor: pointer;
    }
    .icon-label span{
        margin-bottom: 5px;
        display: block;
        justify-content: space-around;
        height: 3px;
        background: rgb(255, 255, 255);
        border-radius: 1px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: all 0.3s ease-in-out;
    }
    .icon-label span:nth-child(1){
        top: 0px;
    }
    .icon-label span:nth-child(2){
        top: 15px;
    }
    .icon-label span:nth-child(3){
        top: 30px;
    } 
}
a.active{
    border-bottom: solid 3px gold;
    border-radius: 2%;
}

a:hover{
    border-bottom: solid 3px gold;
    border-radius: 2%;
    transition: 0.2s; 
}

.toptext{
    position: relative;
    font-size: max(2em,10px);
    color: rgb(32, 66, 178);
    padding: 10px 0px 0 20px;
}

.bottomtext{
    position: relative;
    font-size: max(2em,10px);
    color: rgb(82, 122, 255);
    padding-left: 20px ;
}

img.me:hover{
    transform: scale(1.2);
    transition:  1s;
    box-shadow: 3px 10px 14px 0px rgb(0, 0, 0)
}

img.me{
    border-radius: 50%;
    min-height: 150px;
    height: 300px;
    margin: 50px;
    transition: 1s;
    border: solid 5px black;
}